.project-page{
width: auto;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 20px;
}

.project-card {
  background-color: #1a1a1a; /* Mörk bakgrund som på bilden */
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid cadetblue;
  transition: transform 0.3s ease;
}

.project-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-bottom: 2px solid cadetblue; /* Röd linje under bilden */
}

.project-content {
  padding: 25px;
}

.project-title {
  color: cadetblue; /* Röd färg som på bilden */
  font-size: 2rem;
  margin-bottom: 15px;
}

.project-text {
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 25px;
}

.project-tech-stack {
  display: flex;
flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;
}

.tech-tag {
  
  background: #2d332d;
padding: 6px 12px;
  border-radius: 12px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  border: 1px solid cadetblue; /* Ger lite mer djup som på bilden */
}

.tech-text {
  display: center;
}

.tech-tag img {
  width: 20px;
  height: 20px;
}

.project-card:hover  {
  background: rgba(0,0,0,0.3); /* subtil vit bakgrund */
  box-shadow: 0 0 18px rgba(95,158,160,0.7); /* vit glow med 10% opacitet */
  transform: translateY(-2px);
}
.tech-tag:hover  {
  box-shadow: 0 0 8px rgba(95,158,160,0.7); /* vit glow med 10% opacitet */
  transform: translateY(-2px);
}

.tech-tag:hover .tech-text {
  filter: brightness(1.3); /* Ljusare ikon på hover */
}
.tech-tag:hover img {
  filter: brightness(1.4); /* Ljusare ikon på hover */
}