#root {
  max-width: auto;
  max-height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: cadetblue;
}

.app-container {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
}