.info-container {
  padding: 1.5rem;
  margin: 5rem 0;
  border-radius: 20px;
  background-color: #2d332d;
  border: 1px solid cadetblue;
}

.info-container h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #d0d0d0;
}

.info-container p {
  margin: 0;
  line-height: 1.6;
  color: #cfcfcf;
  font-size: 0.95rem;
}

