

.personal-button {
  width: 300px;
  height: 150px;
  margin: 20px;
  font-size: 2rem;
  color: #d0d0d0;
  background-color: #1a1e1a;
  border: 1px solid cadetblue;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

button.personal-button {
  padding: 0;
}

a.personal-button {
  padding: 0;
}

.personal-button:hover {
    box-shadow: 0 0 18px rgba(95,158,160,0.7); /* vit glow med 10% opacitet */
  transform: translateY(-2px);
}